<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/styles_added.css">
    {{{_sections.meta}}}
    {{{_sections.css}}}
    {{{refact}}}
</head>
<body>
{{>header}}

{{{body}}}

{{>footer}}

{{{_sections.script}}}
<script src="../js/apis/bootstrap.bundle.min.js"></script>
</body>
</html>